.contenedor_inicio {
    width: 100%;
    height: 100vh;
}

.title {
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 90px;
    h6 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        line-height: 14px;
        color: #F01859;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 22px;
    }
    h3 {
        font-family: 'TrajanProRegular';
        font-size: 38px;
        line-height: 36px;
        color: #333333;
        font-weight: 700;
        padding-bottom: 28px;
    }
}
.col-centered {
    float: none;
    margin: 0 auto;
}

.contenedor {
    width: 100%;
    .contenedorInicio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .contenedorInicioTexto{
            height: 550px;
            width: 550px;
            text-align: center;
            h3 {
                font-size: 52px;
            }
            ul {
                li {
                    list-style: none;
                }
            }
        }
        .contenedorInicioImagen {
            height: 550px;
            width: 550px;
            img {
                height: 550px;
            }
        }
    }
}

@media (max-width: 426px) {
    .contenedor_inicio {
        height: 140vh;
    }
    .contenedor {
        .contenedorInicio {
            flex-direction: column;
            .contenedorInicioTexto {
                height: 300px;
                width: 100%;
                ul {
                    padding-left: 0rem;
                }
            }
            .contenedorInicioImagen {
                height: 240px;
                width: 240px;
                img {
                    height: 300px;
                }
            }
        }
    }
}
