@import url("https://fonts.googleapis.com/css?family=Oswald:500");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.thx {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 15px;
}

nav {
  width: 100%;
  position: relative;
  height: 100vh;
  text-align: center;
  background: url(../img/buenos-aires-g2ae0f32a4_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav a {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  margin: 0 15px;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}

nav a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #16151b;
  top: 47%;
  -webkit-animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
          animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

nav a:hover:before {
  -webkit-animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
          animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

nav a:hover {
  color: #ffffff;
}

@-webkit-keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@-webkit-keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}

@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

nav a:nth-child(1) {
  -webkit-animation: show 0.2s 1.1s ease 1 both;
          animation: show 0.2s 1.1s ease 1 both;
}

nav a:nth-child(2) {
  -webkit-animation: show 0.2s 1.2s ease 1 both;
          animation: show 0.2s 1.2s ease 1 both;
}

nav a:nth-child(3) {
  -webkit-animation: show 0.2s 1.3s ease 1 both;
          animation: show 0.2s 1.3s ease 1 both;
}

nav a:nth-child(4) {
  -webkit-animation: show 0.2s 1.4s ease 1 both;
          animation: show 0.2s 1.4s ease 1 both;
}

nav a:nth-child(5) {
  -webkit-animation: show 0.2s 1.5s ease 1 both;
          animation: show 0.2s 1.5s ease 1 both;
}

nav div img {
  height: 110px;
}

.scroll_abajo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: bottom 0.2s ease;
  transition: bottom 0.2s ease;
}

.scroll_abajo span {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 24px;
}

.scroll_abajo .section-banner__scroll-icon {
  width: 16px;
  margin: 0 auto;
  color: #ffffff;
}

.scroll_abajo:hover {
  bottom: 60px;
}

@media (max-width: 405px) {
  .nav_logo {
    height: 80px;
  }
}

.contenedor_inicio {
  width: 100%;
  height: 100vh;
}

.title {
  float: left;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 90px;
}

.title h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 14px;
  color: #F01859;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.title h3 {
  font-family: 'TrajanProRegular';
  font-size: 38px;
  line-height: 36px;
  color: #333333;
  font-weight: 700;
  padding-bottom: 28px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.contenedor {
  width: 100%;
}

.contenedor .contenedorInicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor .contenedorInicio .contenedorInicioTexto {
  height: 550px;
  width: 550px;
  text-align: center;
}

.contenedor .contenedorInicio .contenedorInicioTexto h3 {
  font-size: 52px;
}

.contenedor .contenedorInicio .contenedorInicioTexto ul li {
  list-style: none;
}

.contenedor .contenedorInicio .contenedorInicioImagen {
  height: 550px;
  width: 550px;
}

.contenedor .contenedorInicio .contenedorInicioImagen img {
  height: 550px;
}

@media (max-width: 426px) {
  .contenedor_inicio {
    height: 140vh;
  }
  .contenedor .contenedorInicio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor .contenedorInicio .contenedorInicioTexto {
    height: 200px;
    width: 100%;
  }
  .contenedor .contenedorInicio .contenedorInicioTexto ul {
    padding-left: 0rem;
  }
  .contenedor .contenedorInicio .contenedorInicioImagen {
    height: 240px;
    width: 240px;
  }
  .contenedor .contenedorInicio .contenedorInicioImagen img {
    height: 420px;
  }
}

.contenedor_habitaciones {
  height: 160vh;
  width: 100%;
}

.container__cards {
  max-width: 1350px;
  margin: auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: 300px;
  margin: 10px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.card:hover {
  width: 350px;
}

.card .cover {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.card .cover img {
  width: 250px;
  display: block;
  margin: auto;
  position: relative;
  top: 40px;
  z-index: 1;
  -webkit-filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.card:hover .cover img {
  top: 0px;
  -webkit-filter: none;
          filter: none;
}

.card .img__back {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -80px;
  left: 0;
  background-size: cover;
  border-radius: 20px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.card:nth-of-type(1) .img__back {
  background-image: url(../images/bg1.jpg);
}

.card:nth-of-type(2) .img__back {
  background-image: url(../images/bg2.jpg);
}

.card:nth-of-type(3) .img__back {
  background-image: url(../images/bg3.jpg);
}

.card:hover .img__back {
  bottom: -40px;
}

.card .description {
  background: white;
  margin-top: -10px;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.card:hover .description {
  padding: 40px;
}

.card .description h2 {
  margin-top: 10px;
}

.card .description p {
  margin-top: 10px;
}

.card .description input {
  padding: 10px 40px;
  margin-top: 20px;
  border: none;
  background: #A6359D;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.card .description input:hover {
  background: #83277b;
}

.contenedor_servicios {
  height: 20vh;
}

@media (max-width: 426px) {
  .contenedor_habitaciones {
    height: 550vh;
  }
}
/*# sourceMappingURL=style.css.map */